{% extends "./base.html" %}

{% block title %}
  {{ block.super }} - Accounts
{% endblock %}

{% block content %}
  <h2>Ledger accounts</h2>
  <form action="{{ request.path }}" method="GET">
    <input name="search" type="text" value="{{ search }}" />
    <input type="submit" value="Search" />
  </form>
  <table class="ledger-table">
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Currency</th>
    </tr>
    {% for key, amount in accounts.items %}
      <tr>
        <td>{% ifchanged %}{{ key.0 }}{% endifchanged %}</td>
        <td style="text-align: right;">{{ amount|floatformat:2 }}</td>
        <td>{{ key.1 }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
