{% extends "./base.html" %}

{% block title %}
  {{ block.super }} - Balance
{% endblock %}

{% block content %}
  <h2>Balance</h2>
  <form action="{{ request.path }}" method="GET">
    <input name="filter" type="text" value="{{ filter }}" />
    <input type="submit" value="Search" />
  </form>
  <table class="ledger-table">
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Currency</th>
    </tr>
    {% for key, amount in accounts.items %}
      <tr class="{% if amount == 0 %}null-balance{% endif %}
                 {% if amount < 0 %}negative-balance{% endif %}
                 ">
        <td>{% ifchanged %}{{ key.0 }}{% endifchanged %}</td>
        <td class="color-amount balance">
          {{ amount|floatformat:2 }}
        </td>
        <td class="color-amount">{{ key.1 }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
