{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
     body { display: none; }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

    <meta property="og:title" content="Ledger Web">
    <meta property="og:image" content="{% static "icons/android-chrome-192x192.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "icons/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "icons/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "icons/favicon.ico" %}">
    <meta name="apple-mobile-web-app-title" content="Ledger Web">
    <meta name="application-name" content="Ledger Web">
    <meta name="msapplication-TileColor" content="#0e5800">
    <meta name="msapplication-config" content="{% static "icons/browserconfig.xml" %}">
    <meta name="theme-color" content="#0e5800">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Ledger{% endblock %}
    </title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include './menu.html' %}
    {% block content %}{% endblock %}
  </body>
</html>
