{% extends "./base.html" %}

{% load static %}

{% block title %}
  {{ block.super }} - Charts
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="{% static "Chart.min.js" %}"></script>
{% endblock %}

{% block content %}
  <h2>Charts</h2>

  <form action="{{ request.path }}" method="GET">
    <input name="account_filter" type="text" value="{{ account_filter }}" />
    <input type="submit" value="Filter Expenses" />
  </form>

  <div class="chart-container">
    <canvas id="timechart"></canvas>
  </div>

  <div id="slider-range"></div>
  <div>
    <div style="float: left">
      <select id="range-select1">
        {% for date in dates.data %}
          <option
            {% if forloop.first %} selected="selected" {% endif %}
            value="{{ forloop.counter0 }}"
          >
            {{ date }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div style="float: right">
      <select id="range-select2">
        {% for date in dates.data %}
          <option
            {% if forloop.last %} selected="selected" {% endif %}
            value="{{ forloop.counter0 }}"
          >
            {{ date }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div style="clear:both"></div>

  <hr class="chart-separator" />
  <div>
    Sort by:
    <label>
      <input id="sort-by-labels" type="radio"
             name="chart-sort" value="label"
             checked
      >
      label
    </label>
    <label>
      <input id="sort-by-value" type="radio"
             name="chart-sort" value="value"
      >
      value
    </label>
  </div>
  <div class="chart-container">
    <canvas id="piechart"></canvas>
  </div>

  {{ dates|json_script:"dates-data" }}
  <script>
   const djangoExtract = function (name) {
     return JSON.parse(document.getElementById(name + '-data').textContent);
   }
   const dates = djangoExtract('dates').data;
   const expensesTotals = Object.values(JSON.parse("{{ expenses_totals|escapejs }}"));
   const incomeTotals = Object.values(JSON.parse("{{ income_totals|escapejs }}"));
   const expensesFlat = JSON.parse("{{ expenses|escapejs }}").data;
   const expensesFilter = "{{ account_filter|escapejs }}" || 'Expenses';
  </script>
  <script src="{% static "charts.js" %}"></script>
{% endblock %}
