{% extends "./base.html" %}

{% load static %}

{% block title %}
  {{ block.super }} - Charts
{% endblock %}

{% block content %}
  <h2>Charts</h2>

  <form action="{{ request.path }}" method="GET">
    <input name="account" type="text" value="{{ account }}" />
    <input type="submit" value="Filter Expenses" />
  </form>

  <div class="chart-container">
    <canvas id="timechart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="piechart"></canvas>
  </div>

  <script src="{% static "Chart.min.js" %}"></script>
  <script>
   var plotX = Object.values(JSON.parse("{{ plot_x|escapejs }}"));
   var expensesY = Object.values(JSON.parse("{{ expenses_y|escapejs }}"));
   var incomeY = Object.values(JSON.parse("{{ income_y|escapejs }}"));

   var timeChart = new Chart('timechart', {
     type: 'line',
     data: {
       labels: plotX,
       datasets: [
         {
           label: 'Expenses{% if account %} =~ /{{ account }}/{% endif %}',
           data: expensesY,
           borderColor: 'rgba(255, 100, 100, 0.5)',
           backgroundColor: 'rgba(255, 100, 100, 0.1)'
         },
         {
           label: 'Income',
           data: incomeY,
           borderColor: 'rgba(50, 200, 50, 1)',
           backgroundColor: 'rgba(50, 200, 50, 0.1)'
         }
       ]
     },
     options: {
       scales: {
         yAxes: [{
           ticks: {
             beginAtZero: true
           }
         }]
       }
     }
   });


   var expensesAccounts = Object.values(JSON.parse("{{ expenses_accounts|escapejs }}"));
   var expensesPerAccount = Object.values(JSON.parse("{{ expenses_per_account|escapejs }}"));

   var pieChart = new Chart('piechart', {
     type: 'pie',
     data: {
       labels: expensesAccounts,
       datasets: [{
         label: 'Expenses',
         data: expensesPerAccount,
         backgroundColor: [
           '#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4',
           '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff',
           '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1',
           '#000075', '#808080', '#cccccc', '#000000', '#00ff00', '#0000ff'
         ]
       }]
     },
     options: {
       cutoutPercentage: 30,
       layout: {
         padding: {
           top: 50
         }
       },
       legend: {
         position: 'right'
       }
     }
   })
  </script>
{% endblock %}
