{% load static %}

<script>
 function onMenu (menu) {
   const hamburger = document.getElementById('hamburger');
   hamburger.classList.toggle('is-active');
 }
</script>

<details class="collapsible-menu"
         {% if menu_open %}open{% endif %}
         ontoggle="onMenu(this)"
>
  <summary class="collapsible-menu-button noselect">
    <button id="hamburger" class="hamburger hamburger--arrowalt" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    Ledger Web
  </summary>
  <div class="collapsible-menu-container">
    {% include './menu_base.html' %}
  </div>
</details>
<div class="constant-menu">
  {% include './menu_base.html' %}
</div>
