{% extends "./base.html" %}

{% block title %}
  {{ block.super }} - Register
{% endblock %}

{% block content %}
  <a class="plain-link"
     href="{{ request.path }}?reverse={{ reverse | yesno:"False,True" }}{% if count != count_step %}&count={{ count }}{% endif %}"
  >
    <h1 class="register-header">Ledger entries {{ reverse | yesno:"↑,↓" }}</h1>
  </a>

  <div class="list-container">
    {% if not reverse and count != 'all' %}
      {% include "./components/show_all.html" %}
    {% endif %}
    {% for entry in entries %}
      <div class="container">
        {% if can_revert %}
          {% if reverse and forloop.first or not reverse and forloop.last %}
            {% include "./components/entry_buttons.html" %}
          {% endif %}
        {% endif %}
        <a class="plain-link entry-full"
           href="{% url 'ledger_ui:rule' %}?payee={{ entry.payee }}"
        >
          <pre class="card">{{ entry.body }}</pre>
        </a>
        <details class="entry-mini">
          <summary class="card">
            {{ entry.date }}:
            {{ entry.payee }}
          </summary>
          <a class="plain-link subcard"
             href="{% url 'ledger_ui:rule' %}?payee={{ entry.payee }}"
          >
            <pre class="card">{{ entry.body }}</pre>
          </a>
        </details>
      </div>
    {% endfor %}
    {% if reverse and count != 'all' %}
      {% include "./components/show_all.html" %}
    {% endif %}

    {% url "ledger_ui:submit" as fab_target %}
    {% include "./components/fab.html" with button_id="submit-fab" target=fab_target %}
  </div>
{% endblock %}
