{% extends "./base.html" %}

{% load static %}

{% block title %}
  {{ block.super }} - Register
{% endblock %}

{% block content %}
  <a class="plain-link"
     href="{{ request.path }}?reverse={{ reverse | yesno:"False,True" }}"
  >
    <h1 class="register-header">Ledger entries {{ reverse | yesno:"↑,↓" }}</h1>
  </a>

  <div class="list-container">
    {% for entry in entries %}
      <div class="container">
        {% if can_revert and forloop.first %}
          <div class="entry-buttons">
            <form action="{% url 'ledger_ui:submit' %}" method="GET">
              <input class="entry-button amend"
                     type="submit" value="" title="Amend"
                     style="background-image: url('{% static 'images/amend.png' %}');"
              />
              <input name="amend" type="hidden" value="true" />
            </form>
            <form action="{% url 'ledger_ui:register' %}" method="POST">
              {% csrf_token %}
              <input class="entry-button revert"
                     type="submit" value="" title="Revert"
                     style="background-image: url('{% static 'images/revert.png' %}');"
                     onclick="return confirm('Really delete this entry?');"
              />
              <input name="revert" type="hidden" value="true" />
            </form>
          </div>
        {% endif %}
        <a class="plain-link"
           href="{% url 'ledger_ui:rule' %}?payee={{ entry.payee }}"
        >
          <pre class="border entry-full">{{ entry.body }}</pre>
          <div class="border entry-mini">
            {{ entry.date }}:
            {{ entry.payee }}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
