{% extends "./base.html" %}

{% block title %}
  {{ block.super }} - Register
{% endblock %}

{% block content %}
  <a class="plain-link"
     href="{{ request.path }}?reverse={{ reverse | yesno:"False,True" }}"
  >
    <h1 class="register-header">Ledger entries {{ reverse | yesno:"↑,↓" }}</h1>
  </a>

  <div class="list-container">
    {% for entry in entries %}
      <div class="entry">
        <a class="plain-link"
           href="{% url 'ledger_ui:rule' %}?payee={{ entry.payee }}"
        >
          <pre class="border">{{ entry.body }}</pre>
        </a>
      </div>
      <div class="entry-payee">
        <a class="plain-link"
           href="{% url 'ledger_ui:rule' %}?payee={{ entry.payee }}"
        >
          <div class="border entry-payee-button">
            {{ entry.date }}:
            {{ entry.payee }}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
