{% extends "./base.html" %}

{% block title %}
  {{ block.super }} - Rules
{% endblock %}

{% block content %}
  <div class="rules-desktop">
    <h2>Rules</h2>
    <form action="{% url 'ledger_ui:rule' %}">
      <input type="submit" value="New" />
    </form>
    <table class="ledger-table">
      <tr>
        <th>Payee</th>
        <th>Note</th>
        <th class="table-separator">New payee</th>
        <th>New note</th>
        <th>Account</th>
      </tr>
      {% for rule in object_list %}
        <tr class="rule-row">
          <td>
            <a href="{% url 'ledger_ui:rule' rule.pk %}">{{ rule.payee }}</a>
          </td>
          <td> {{ rule.note }} </td>
          <td class="table-separator"> {{ rule.new_payee }} </td>
          <td> {{ rule.new_note }} </td>
          <td> {{ rule.account }} </td>
          <td>
            <form action="{% url 'ledger_ui:rule_delete' rule.pk %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Delete"
                     onclick="return confirm('Really delete this rule?');"
              />
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="rules-mobile list-container">
    <h2>Rules</h2>
    {% for rule in object_list %}
      <details>
        <summary class="rule-details-summary card noselect">
          {{ rule.payee }}
        </summary>
        <a class="plain-link rule-details subcard" href="{% url 'ledger_ui:rule' rule.pk %}">
          <dl class="card">
            {% if rule.new_payee %}
              <dt>New payee</dt>
              <dd>{{ rule.new_payee }}</dd>
            {% endif %}
            {% if rule.note %}
              <dt>Note</dt>
              <dd>{{ rule.note }}</dd>
            {% endif %}
            {% if rule.new_note %}
              <dt>New note</dt>
              <dd>{{ rule.new_note }}</dd>
            {% endif %}
            {% if rule.account %}
              <dt>Account</dt>
              <dd>{{ rule.account }}</dd>
            {% endif %}
          </dl>
        </a>
      </details>
    {% endfor %}
  </div>

  {% url 'ledger_ui:rule' as fab_target %}
  {% include "./components/fab.html" with button_id="rules-fab" target=fab_target %}
{% endblock %}
