{% extends "./base.html" %}

{% block title %}
  {{ block.super }} - Rule {% if rule %} "{{ rule.payee }}" {% endif %}
{% endblock %}

{% block content %}
  <h2>Edit rule</h2>
  <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>

    <input type="submit" value="Submit" />
  </form>

  <div class="rule-preview-container">
    <input id="preview-button" type="button" value="Preview" />
    <ul id="rule-preview"></ul>
  </div>

  <script>
   document.getElementById('preview-button')
    .addEventListener(
      'click',
      function () {
        let regexp = document.getElementById('id_payee').value;
        let req = new XMLHttpRequest();
        req.open(
          'GET',
          "{% url 'ledger_query:transactions' %}?regexp=" + encodeURI(regexp),
          true
        );
        req.onreadystatechange = function (aEvt) {
          if (req.readyState == 4) {
            if (req.status == 200) {
              let target = document.getElementById('rule-preview');
              while (target.firstChild) {
                target.removeChild(target.firstChild);
              }

              let entries = JSON.parse(req.responseText).entries;
              for (let entry in entries.slice(0, 10)) {
                let item = document.createElement('li');
                item.textContent = (
                  entries[entry].date
                  + ': '
                  + entries[entry].payee
                );
                target.appendChild(item);
              }
              if (entries.length > 10) {
                let item = document.createElement('li');
                item.textContent = ('...');
                target.appendChild(item);
              }
            }
          }
        };
        req.send(null);
      }
    );
  </script>
{% endblock %}
