{% extends "./base.html" %}

{% load static %}

{% block title %}
  {{ block.super }} - New transaction
{% endblock %}

{% block content %}
  {% if form.amend.value %}
    <h2>Edit transaction</h2>
  {% else %}
    <h2>New transaction</h2>
  {% endif %}

  {% if ledger_errors %}
    <details class="error-msg">
      <summary>
        <p>
          Working in degraded mode, no completion available.  The
          Ledger journal seems to contain errors.
        </p>
        <b>Click for details</b>
      </summary>
      <div class="error-details">
        {% include "./error/ledger_error.html" with exception=ledger_errors %}
      </div>
    </details>
  {% endif %}

  <form action="{{ request.path }}" method="post">
    <input style="display: none;" name="" type="submit"
           value="[Enter key handler]" />

    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>

    {{ formset.management_form }}
    <fieldset class="transaction-forms">
      {{ formset.non_form_errors }}
      <legend>Accounts</legend>
      <div id="account-formset">
        {% for f in formset %}
          {% include "./components/transaction.html" with form=f %}
        {% endfor %}
      </div>
      <hr />
      <button onclick="addAccount(this, event)"
              class="transaction-account-form-add"
      >
        <img alt="" src="{% static 'images/add.png' %}" />
      </button>
    </fieldset>

    <div style="display: none;">
      {% include "./components/transaction.html" with id="empty_form" form=formset.empty_form %}
    </div>

    <datalist id="list__accounts">
      {% for account in accounts %}
        <option value="{{ account }}"></option>
      {% endfor %}
    </datalist>
    <datalist id="list__currencies">
      {% for currency in currencies %}
        <option value="{{ currency }}"></option>
      {% endfor %}
    </datalist>

    {% if form.amend.value %}
      <input name="" type="submit" value="Amend" />
    {% else %}
      <input name="" type="submit" value="Submit" />
    {% endif %}
  </form>
  {% if form.amend.value %}
    <form action="{% url 'ledger_ui:journal' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete"
             onclick="return confirm('Really delete this entry?');"
      />
      <input name="revert" type="hidden" value="true" />
    </form>
  {% endif %}

  <script>
   'use strict';

   document.getElementById("id_form-TOTAL_FORMS").value =
     document.getElementById("account-formset").childElementCount;

   const deleteAccount = function (button, event) {
     event.preventDefault();

     let totalEl = document.getElementById("id_form-TOTAL_FORMS");
     if (totalEl.value < 2) {
       return false;
     }

     button.parentElement.remove();
     --totalEl.value;
   };
   const addAccount = function (button, event) {
     event.preventDefault();

     let newForm = document.getElementById("empty_form").cloneNode(true);
     newForm.removeAttribute("id");

     newForm.innerHTML = newForm.innerHTML.replace(
       /__prefix__/g,
       document.getElementById("id_form-TOTAL_FORMS").value++
     );

     newForm.getElementsByClassName("amount-input")[0]
            .addEventListener("input", calculateRemainder);
     newForm.getElementsByClassName("currency-input")[0]
            .addEventListener("input", calculateRemainder);
     newForm.getElementsByClassName("transaction-account-form-delete")[0]
            .addEventListener("click", calculateRemainder);
     document.getElementById("account-formset").appendChild(newForm);
   };

   const formsetRoot = document.getElementById("account-formset");
   const resetPlaceholders = function () {
     Array.prototype.forEach.call(
       document.getElementsByClassName("amount-input"),
       x => x.removeAttribute("placeholder")
     );
   };
   const calculateRemainder = function () {
     const currencyInputs =
       formsetRoot.getElementsByClassName("currency-input");
     const onlyOneCurrency = Array.prototype.every.call(
       currencyInputs,
       x => x.value === currencyInputs[0].value
     );
     if (!onlyOneCurrency) {
       resetPlaceholders();
       return;
     }

     let amountInputs = formsetRoot.getElementsByClassName("amount-input");
     const emptyCount = Array.prototype.filter.call(
       amountInputs,
       x => x.value === ""
     ).length;
     if (emptyCount != 1) {
       resetPlaceholders();
       return;
     }

     const sum = Array.prototype
                      .map.call(amountInputs, x => parseFloat(x.value) || 0)
                      .reduce((x,y) => x + y, 0);
     const idx = Array.prototype.findIndex.call(
       amountInputs, x => x.value === "");
     amountInputs[idx].setAttribute("placeholder", -sum);
   };

   Array.prototype.forEach.call(
     document.getElementsByClassName("amount-input"),
     x => x.addEventListener("input", calculateRemainder)
   );
   Array.prototype.forEach.call(
     document.getElementsByClassName("currency-input"),
     x => x.addEventListener("input", calculateRemainder)
   );
   Array.prototype.forEach.call(
     document.getElementsByClassName("transaction-account-form-add"),
     x => x.addEventListener("click", calculateRemainder)
   );
   Array.prototype.forEach.call(
     document.getElementsByClassName("transaction-account-form-delete"),
     x => x.addEventListener("click", calculateRemainder)
   );
   calculateRemainder();
  </script>
{% endblock %}
