body {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

.border {
  border: 1px solid black;
  padding: 3px;
}

.column-header {
  text-align: center;
  border: 2px solid black;
}
.column-header:hover {
  background-color: #aaa;
}

.plain-link {
  color: inherit;
  text-decoration: inherit;
}
.plain-link:hover > * {
  background-color: #ddd;
}

.list-container {
  margin-left: 2em;
  margin-right: 2em;
}

.chart-container {
  position: relative;
}

div.ui-slider-range.ui-widget-header {
  background: skyblue;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "submit register accounts login"
    "submit charts rules user"
    ;
  grid-gap: 10px;
  place-items: stretch;
  place-content: stretch;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .menu-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "register register"
      "charts charts"
      "accounts accounts"
      "submit submit"
      "rules rules"
      "user login"
      ;
  }
}

.menu-element {
  display: block;
  color: inherit;
  font-weight: bold;
  font-size: x-large;
  font-family: sans-serif;
  background-color: #bdd;
  text-transform: uppercase;
  text-decoration: inherit;

  padding: 10px 10px 10px 10px;

  display: grid;
  place-content: center;
}
a.menu-element:hover {
  background-color: #95D9D9;
}
a.menu-element:active {
  background-color: #73DBDB;
  color: inherit;
}
.menu-user {
  grid-area: user;
  font-size: large;
  text-transform: none;
  font-weight: normal;
  background-color: lightgrey;
  text-align: center;
}
.username {
  font-style: italic;
}
.menu-login {
  grid-area: login;
  background-color: #b00;
}
a.menu-login:hover {
  background-color: #c00;
}
a.menu-login:active {
  background-color: #d00;
}
.menu-register {
  grid-area: register;
}
.menu-charts {
  grid-area: charts;
}
.menu-accounts {
  grid-area: accounts;
}
.menu-submit {
  grid-area: submit;
}
.menu-rules {
  grid-area: rules;
}

.entry-payee {
  display: none;
}
.entry-payee-button {
  padding: 10px 20px 10px 20px;
  margin: 8px;
}
@media screen and (max-width: 500px) {
  .entry {
    display: none;
  }
  .entry-payee {
    display: block;
  }
}
