@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

body {
  display: block;
  max-width: 800px;
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

input {
  border-radius: 3px;
}

.border {
  border: 1px solid black;
  padding: 3px;
}

.register-header {
  text-align: center;
  border: 2px solid black;
}
.register-header:hover {
  background-color: #aaa;
}

.container {
  position: relative;
}

.entry-full {
  margin-left: 1px;
  margin-right: 1px;
}

.entry-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 100%;
  height: 100%;
  margin: 1px;
}
.entry-button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 2px;
  margin: 1px 0;
  height: 24px;
  width: 24px;
}
.amend {
  background-color:  #1e90ff;
  background-size: cover;
  background-position: center;
}

footer {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
hr.footer {
  color: lightgrey;
  margin-top: 1em;
}

footer a {
  color: inherit;
  text-decoration: inherit;
}
footer a:hover {
  color: #6495ed;
  text-decoration: underline;
}

.plain-link {
  color: inherit;
  text-decoration: inherit;
}
.plain-link:hover > * {
  background-color: #ddd;
}

.list-container {
  margin-left: 2em;
  margin-right: 2em;
}

.rule-preview-container {
  margin: 1em;
  padding: 1em;
  background-color: #ccc;
  border-radius: 10px;
}

.chart-container {
  position: relative;
}

div.ui-slider-range.ui-widget-header {
  background: skyblue;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.constant-menu {
  font-weight: bold;
  background-color: #aaa;
  border-radius: 10px;
}
@keyframes menuFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.collapsible-menu[open] > .collapsible-menu-container {
  animation-name: menuFadeIn;
  animation-duration: 0.5s;
}
.collapsible-menu-button {
  outline: none;
}
.collapsible-menu {
  display: none;
}
.collapsible-menu-button {
  cursor: pointer;
  list-style-type: none;
  font-size: 40px;
  white-space: nowrap;
}
summary.collapsible-menu-button {
  display: block;
}
summary.collapsible-menu-button::-webkit-details-marker {
  display: none;
}

#hamburger {
  outline: none;
}
#hamburger::-moz-focus-inner {
  border: none;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "submit register balance login"
    "submit charts rules user"
    ;
  grid-gap: 10px;
  place-items: stretch;
  place-content: stretch;
  padding: 10px;
}

.menu-element {
  display: block;
  color: inherit;
  font-size: x-large;
  background-color: #bdd;
  text-transform: uppercase;
  text-decoration: inherit;

  padding: 10px 10px 10px 10px;

  display: grid;
  place-content: center;

  border: 1px solid #555;
  border-radius: 10px;

  transition: background-color 0.3s;
}
a.menu-element:hover {
  background-color: #95D9D9;
}
a.menu-element:active {
  background-color: #73DBDB;
  color: inherit;
}
.menu-user {
  grid-area: user;
  font-size: large;
  text-transform: none;
  font-weight: normal;
  background-color: lightgrey;
  text-align: center;
}
.username {
  font-style: italic;
}
.menu-login {
  grid-area: login;
  background-color: #b00;
  color: #111;
}
a.menu-login:hover {
  background-color: #c00;
}
a.menu-login:active {
  background-color: #d00;
}
.menu-register {
  grid-area: register;
}
.menu-charts {
  grid-area: charts;
}
.menu-balance {
  grid-area: balance;
}
.menu-submit {
  grid-area: submit;
}
.menu-rules {
  grid-area: rules;
}

.entry-mini {
  display: none;
  padding: 10px 20px 10px 20px;
  margin: 8px;
}

table.ledger-table {
  border-collapse: collapse;
}
.ledger-table tr:nth-child(odd) {
  background-color: #ddd;
}
.ledger-table tr:nth-child(even) {
  background-color: #ccc;
}
.ledger-table tr:hover {
  background-color: #fff6c5;
}
.ledger-table tr > td {
  padding: 5px;
  border: 1px solid #aaa;
}

.balance {
  text-align: right;
}
.negative-balance td:not(:first-child) {
  color: red;
}
.null-balance td:not(:first-child) {
  opacity: 0.4;
}

@media only screen and (max-width: 700px) {
  .menu-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "register register"
      "charts charts"
      "balance balance"
      "submit submit"
      "rules rules"
      "user login"
      ;
  }

  .entry-full {
    display: none;
  }
  .entry-mini {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .collapsible-menu {
    display: block;
  }
  .constant-menu {
    display: none;
  }
  .footer {
    display: none;
  }
}
