{% load static %}

<div class="entry-buttons-container">
  <div class="entry-buttons">
    <form action="{% url 'ledger_ui:submit' %}" method="GET">
      <input class="entry-button amend"
             type="submit" value="" title="Amend"
             style="background-image: url('{% static 'images/amend.png' %}');"
      />
      <input name="amend" type="hidden" value="true" />
    </form>
    <form action="{% url 'ledger_ui:journal' %}" method="POST">
      {% csrf_token %}
      <input class="entry-button revert"
             type="submit" value="" title="Revert"
             style="background-image: url('{% static 'images/delete.png' %}');"
             onclick="return confirm('Really delete this entry?');"
      />
      <input name="revert" type="hidden" value="true" />
    </form>
  </div>
</div>
