<nav class="menu-grid">
  {% if user.is_authenticated %}
    <div class="menu-element menu-user">
      User: <span class="username">{{ user }}</span>
    </div>
    <a class="menu-element menu-login" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="menu-element menu-login" href="{% url 'login' %}">Login</a>
  {% endif %}
  <a class="menu-element menu-journal" href="{% url 'ledger_ui:journal' %}">Journal</a>
  <a class="menu-element menu-charts" href="{% url 'ledger_ui:charts' %}">Charts</a>
  <a class="menu-element menu-balance" href="{% url 'ledger_ui:balance' %}">Balance</a>
  <a class="menu-element menu-submit" href="{% url 'ledger_ui:submit' %}">Submit</a>
  <a class="menu-element menu-rules" href="{% url 'ledger_ui:rules' %}">Rules</a>
</nav>
